CCLE/rawdata/*
CCLE/procdata/*
CCLE/metadata/*
CCLE/results/*
CCLE/.snakemake/*

GDSC/rawdata/*
GDSC/procdata/*
GDSC/metadata/*
GDSC/results/*
GDSC/.snakemake/*
GDSC/sandbox/*


gCSI/rawdata/*
gCSI/procdata/*
gCSI/metadata/*
gCSI/results/*
gCSI/.snakemake/*


*/.snakemake/*
*/.snakemake

*/.RData

workflow/depmap

DEPMAP/rawdata/*
DEPMAP/procdata/*
DEPMAP/metadata/*
DEPMAP/results/*
DEPMAP/.snakemake/*
DEPMAP/

*.excalidraw